{% extends "base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<div class="landing">
    <div class="landing-content">
        <h1>BeerTime</h1>
        <h2>Les meilleurs événements de l'univers</h2>
        <a href="{{ path('event_list') }}" class="btn btn-primary">Découvrir</a>
    </div>
</div>
{% endblock %}